p, li{
    font-size: 20px;
}

.doc{
  margin-top: 20px;
}

#h1{
    align: center;
    font-size: 30px;
}
#h2{
    align: center;
    font-size: 30px;
}
.link{
    margin-left: 20px;
}

#doclist{
    list-style: disc;
    margin-left: 20px;
}

#notHandwritten, #Handwritten{
    width: 45%;
    flex:1;
   
}

#Handwritten{
   margin-left: 15%;
}

#docs{
    
    display: flex;

}