p, li{
    font-size: 20px;
}

#h1{
    align: center;
    font-size: 30px;
}
#h2{
    align: center;
    font-size: 30px;
}
.link{
    margin-left: 20px;
}

#doclist{
    list-style: disc;
    
}

#notHandwritten, #Handwritten{
    width: 500px;
    
   
}

#Handwritten{
   
}

#docs{
    width: 30%;
    float: left;

}